---
layout: base
title: 開發流程
tags: page
order: 2
---

<section 
    class="max-w-5xl mx-auto 
    grid grid-cols-1 place-items-start gap-12
    pt-6 md:pt-12
    px-6 md:px-0
    "
>

    <div class="grid grid-cols-1 gap-8">
        <h2 class="text-xl font-bold primary-color chi-font-no-spacing" >流程</h2>
        <div class="grid grid-cols-1 gap-2">
        <div class="text-3xl chi-font-small-spacing" >我們的工作流程</div>
        <div class="text-2xl chi-font-small-spacing secondary-color" >我們相信效率和最大化我們的資源，為我們的客戶提供最大的價值。</div>
        </div>
    </div>

    <div class="
        grid grid-cols-1 md:grid-cols-2 gap-4 
        m-0 md:m-4 p-0 md:p-4
        ">
        <div class="grid grid-cols-1 place-items-center">
            <div class="
                rounded-lg 
                h-[50vw] w-[66vw] 
                md:h-[300px] md:w-[400px] 
                shadow-xl 
                bg-[center_center] bg-cover bg-no-repeat
                " 
                style="
                background-image: url( {{ '/assets/images/step1.jpg' | htmlBaseUrl  }} )
                "
                >
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4">
            <div class="grid grid-cols-1 gap-1">
                <h3 class="text-lg primary-color font-semibold chi-font-no-spacing text-center md:text-left">Stage 1</h3>
                <div class="text-3xl text-bold chi-font-no-spacing text-center md:text-left">啟動專案</div>
            </div>

            <div class="chi-paragraph">在此階段，我們的團隊將與您密切合作，深入了解您的業務目標和需求。透過初步諮詢，我們能夠洞悉您的期望，從而設計出最符合您的數位解決方案。這不僅幫助確定我們的方向，也確保我們為您提供的建議是切實可行且具有策略性的。</div>
            <div class="chi-paragraph">這是一個關鍵的開始階段，為接下來的合作打下堅實的基礎。通過緊密的交流，我們希望建立雙方的信任，並確保整個專案的方向和策略都與您的期望一致。</div>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-0 md:m-4 p-0 md:p-4">
        <div class="grid grid-cols-1 gap-4 order-2 md:order-1">
            <div class="grid grid-cols-1 gap-1">
                <h3 class="text-lg primary-color font-semibold chi-font-no-spacing text-center md:text-left">Stage 2</h3>
                <div class="text-3xl text-bold chi-font-no-spacing text-center md:text-left">設計和修訂</div>
            </div>

            <div class="chi-paragraph">在此階段，我們的團隊將為您呈現一個生動且專業的網站或軟體設計稿。我們相信好的設計可以有效地傳達品牌信息，同時也能為用戶提供卓越的使用體驗。</div>
            <div class="chi-paragraph">設計稿完成後，我們將與您分享，期待您的反饋。我們認為客戶的反饋是整個設計過程中不可或缺的一部分，您的建議和改進意見將幫助我們更好地符合您的期望和需求。</div>
        </div>
        <div class="grid grid-cols-1 place-items-center order-1 md:order-2">
            <div class="
                rounded-lg 
                h-[50vw] w-[66vw] 
                md:h-[300px] md:w-[400px] 
                shadow-xl bg-center bg-cover bg-no-repeat
                " 
                style="
                background-image: url( {{ '/assets/images/step2.jpg' | htmlBaseUrl  }} )
                "
                >
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-0 md:m-4 p-0 md:p-4">
        <div class="grid grid-cols-1 place-items-center">
            <div class="
                rounded-lg 
                h-[50vw] w-[66vw] 
                md:h-[300px] md:w-[400px] 
                
                shadow-xl bg-center bg-cover bg-no-repeat
                " 
                style="
                background-image: url( {{ '/assets/images/step3.jpg' | htmlBaseUrl  }} )
                "
                ></div>
        </div>
        <div class="grid grid-cols-1 gap-4">
            <div class="grid grid-cols-1 gap-1">
                <h3 class="text-lg primary-color font-semibold chi-font-no-spacing text-center md:text-left">Stage 3</h3>
                <div class="text-3xl text-bold chi-font-no-spacing text-center md:text-left">開發與測試</div>
            </div>

            <div class="chi-paragraph">開發階段是實現所有構想的關鍵時刻。我們的軟體工程師將致力於將設計稿轉化為實際的網站或應用程式。他們將使用最先進的技術和最佳的編碼實踐，以確保軟體的性能、安全性和可擴展性。</div>
            <div class="chi-paragraph">除了開發工作，我們還會進行綜合的測試，包括功能測試、性能測試和用戶體驗測試，以確保所交付的產品達到最高標準，且無重大錯誤或問題。</div>
        </div>

    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-0 md:m-4 p-0 md:p-4">
      
        <div class="grid grid-cols-1 gap-4 order-2 md:order-1">
            <div class="grid grid-cols-1 gap-1">
                <h3 class="text-lg primary-color font-semibold chi-font-no-spacing text-center md:text-left">Stage 4</h3>
                <div class="text-3xl text-bold chi-font-no-spacing text-center md:text-left">發佈及維護</div>
            </div>
            
            <div class="chi-paragraph">當一切都準備就緒，您的專案將正式發佈並面向公眾。但我們的工作還沒有結束。發佈後的反饋和用戶數據是我們繼續優化的關鍵。我們將密切關注並即時解決任何潛在問題。</div>
            <div class="chi-paragraph">此外，為了確保您的網站或應用程式持續運行良好，我們將提供持續的技術支援和維護服務。從安全更新到性能優化，從內容更新到新功能的加入，我們始終與您並肩作戰，確保專案的長期成功。</div>
        </div>
        <div class="grid grid-cols-1 place-items-center order-1 md:order-2">
            <div 
                class="
                rounded-lg 
                h-[50vw] w-[66vw] 
                md:h-[300px] md:w-[400px] 
                shadow-xl bg-center bg-cover bg-no-repeat
                " 
                style="
                background-image: url( {{ '/assets/images/step4.jpg' | htmlBaseUrl  }} )
                "
            >
        </div>
            {# <img class="max-h-[300px]" src="/assets/images/step4.jpg" alt="開發流程"> #}
        </div>
    </div>

    <div class="p-[3rem]"></div>
</section>