---
layout: base
title: 技術特色
tags: page
order: 2
---

<section class="grid grid-cols-1 p-12 place-items-center " style="min-height: calc( 100vh - 4rem ); ">
    <div class="
        grid grid-cols-1 md:grid-cols-2 gap-2 place-items-center
        
        ">
        <div class="max-w-[700px]" >
            <div class="pt-8 grid grid-cols-1 gap-1"> 
                <div class="text-xl md:text-2xl font-semibold primary-color" >以領先科技提升商業潛力</div>
            </div>

            <div class="pt-8 grid grid-cols-1 gap-1"> 
                <div class="text-2xl md:text-4xl  secondary-color" >前沿技術，超凡性能</div>
                <div class="text-md md:text-xl leading-6 md:leading-10">探索創新科技的力量。我們致力於提供一流的解決方案，以驅動效率和可靠性。</div>
            </div>

            <div class="pt-12 flex flex-col gap-8 leading-6"> 
                <div>
                    在 <span class="eng-font">Louislabs</span> ，
                    我們自豪地融合了最新的科技進步，以提供超出其他解決方案的服務。
                    我們的技術層裝滿了旨在簡化運營並提升性能的前沿工具。
                    這確保了我們的客戶獲得堅固、高效、可靠的解決方案，推動他們的業務邁向成功。
                </div>

                <div class='flex flex-col md:flex-row gap-4 place-items-center'>
                    <div 
                        class="min-h-[60px] min-w-[60px] bg-contain bg-center bg-no-repeat
                        "
                        style="
                        background-image: url( {{ '/assets/images/add-task-list-svgrepo-com.svg' | htmlBaseUrl  }} )
                        "
                    ></div>
                    <div class="chi-font-small-spacing font-bold min-w-[60px]">擴展性</div> 
                    <div>
                        我們開發的網站具有模塊化結構，使其具有很高的可擴展性。從而我們的開發人員更易於管理和擴展您的應用程序，特別是對於大型應用程序。
                    </div>
                </div>

                <div class='flex flex-col md:flex-row gap-4 place-items-center'>
                    <div 
                        class="min-h-[60px] min-w-[60px] bg-contain bg-center bg-no-repeat
                        "
                        style="
                        background-image: url( {{ '/assets/images/anomaly-svgrepo-com.svg' | htmlBaseUrl  }} )
                        "
                    ></div>
                    <div class="chi-font-small-spacing font-bold min-w-[60px]">安全性</div> 
                    <div>
                        我們編寫的網站具有對抗常見網路漏洞（如跨站點腳本（XSS）和跨站點請求偽造（CSRF））的內置保護。它還提供用於清理和驗證用戶輸入以及實現身份驗證和授權的機制。
                    </div>
                </div>

                <div class='flex flex-col md:flex-row gap-4 place-items-center'>
                    <div 
                        class="min-h-[60px] min-w-[60px] bg-contain bg-center bg-no-repeat
                        "
                        style="
                        background-image: url( {{ '/assets/images/battery-full-svgrepo-com.svg' | htmlBaseUrl  }} )
                        "
                    ></div>
                    <div class="chi-font-small-spacing font-bold min-w-[60px]">高性能</div> 
                    <div>
                        我們使用雙向數據綁定、基於組件的架構以及非同步特性以提高軟件性能。此外，我們使用預先編譯器AOT和延遲加載等工具來提升應用程序的性能。
                    </div>
                </div>
            </div>

        </div>
        
        <div class="w-[100vw] md:max-w-[700px]" >
            <div class="grid grid-cols-1" >
                <div class="
                    py-8
                    pl-8 md:pl-6
                    pr-8 md:pr-0
                    
                    md:w-3/4 
                    max-w-[800px] 
                    md:border-l-[2px] md:border-l-[#ff9442]
                    grid grid-cols-1 gap-8
                "
                >
                    <div style="position: relative; height: 0;"> 
                        <div class="
                            h-[15px] w-[15px] 
                            md:h-[20px] md:w-[20px] 
                            text-gray-200">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"/>
                            </svg>
                        </div>
                    </div>

                    <div class="chi-font-small-spacing">
                        <span class="text-2xl font-bold pr-1">我們</span>不懈地追求最先進的<span class="eng-font">Tech Stack</span>，
                        以確保為我們的客戶提供最佳性能和可靠性。
                        我們的團隊致力創新和面對新的挑戰，並且幫助中小企業開啟他們的全面的數位潛力。
                    </div>
                    <div class="eng-font font-bold text-right">
                        <div>Louis</div>
                    </div>

                    <div class="grid grid-rows-1 place-items-end" 
                        style="position: relative; top: 0; height: 0;" > 
                        <div class="
                            h-[15px] w-[15px] 
                            md:h-[20px] md:w-[20px] 
                            text-gray-200">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor">
                                <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                <path d="M448 296c0 66.3-53.7 120-120 120h-8c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H320c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72zm-256 0c0 66.3-53.7 120-120 120H64c-17.7 0-32-14.3-32-32s14.3-32 32-32h8c30.9 0 56-25.1 56-56v-8H64c-35.3 0-64-28.7-64-64V160c0-35.3 28.7-64 64-64h64c35.3 0 64 28.7 64 64v32 32 72z"/>
                            </svg>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="grid grid-cols-1 p-12 place-items-center mb-[100px]" >

    <div class="grid grid-cols-1 place-items-center gap-8">
        <div>
            <div 
                class="
                    min-h-[50vw] min-w-[66vw]
                    md:min-h-[300px] md:min-w-[600px] 
                    bg-contain bg-center bg-no-repeat
                    " 

                    style="
                    background-image: url( {{ '/assets/images/3d-casual-life-young-man-drawing-a-curve-in-design-program.png' | htmlBaseUrl  }} )
                    "
                >
            </div>
        </div>

        <div class="
            flex flex-wrap 
            w-full md:w-3/4 
            p-[10px] md:p-[100px] " 
            >

            <div 
                class="w-full md:w-1/2 flex 
                    gap-3 md:gap-12 place-items-start 
                    py-3 md:py-0
                    p-0 md:p-8"
            >
                <div 
                    class="hidden md:inline 
                    h-[75px] w-[75px] 
                    md:h-[100px] md:w-[100px] 
                    bg-contain bg-center bg-no-repeat
                    " 
                    style="
                    background-image: url( {{ '/assets/images/cloud-download-list-svgrepo-com.svg' | htmlBaseUrl  }} )
                    "
                    >
                </div>
                <div>
                    <div class="primary-color text-xl font-semibold chi-font-small-spacing">雲端計算</div>
                    <div class="pt-2 chi-font-small-spacing leading-6">通過雲端計算解決方案將您的業務提升到新高度。我們確保您的數據始終可用，無論您身在何處。</div>
                </div>
            
            </div>
            <div 
                class="w-full md:w-1/2 flex 
                    gap-3 md:gap-12 place-items-start 
                    py-3 md:py-0
                    p-0 md:p-8"
            >
                <div 
                    class="hidden md:inline 
                    h-[75px] w-[75px] 
                    md:h-[100px] md:w-[100px] 
                    bg-contain bg-center bg-no-repeat
                    "
                    style="
                    background-image: url( {{ '/assets/images/lock-key-svgrepo-com.svg' | htmlBaseUrl  }} )
                    " 
                    >
                </div>
                <div>
                    <div class="primary-color text-xl font-semibold chi-font-small-spacing">SSL證書</div>
                    <div class="pt-2 chi-font-small-spacing leading-6">我們提供SSL證書，我們不只加密您的網站數據，大大提升您的用戶信心亦尤其重要。</div>
                </div>
            
            </div>

            <div 
                class="w-full md:w-1/2 flex 
                    gap-3 md:gap-12 place-items-start 
                    py-3 md:py-0
                    p-0 md:p-8"
            >
                <div 
                    class="hidden md:inline 
                    h-[75px] w-[75px] 
                    md:h-[100px] md:w-[100px] 
                    bg-contain bg-center bg-no-repeat
                    " 
                    style="
                    background-image: url( {{ '/assets/images/touch-svgrepo-com.svg' | htmlBaseUrl  }} )
                    "
                    >
                </div>
                <div>
                    <div class="primary-color text-xl font-semibold chi-font-small-spacing">響應式設計</div>
                    <div class="pt-2 chi-font-small-spacing leading-6">我們的響應式網頁設計可以確保在不同設備上正確運行，為您的用戶提供最佳的用戶體驗。</div>
                </div>
            
            </div>
            <div 
                class="w-full md:w-1/2 flex 
                    gap-3 md:gap-12 place-items-start 
                    py-3 md:py-0
                    p-0 md:p-8"
            >
                <div 
                    class="hidden md:inline 
                    h-[75px] w-[75px] 
                    md:h-[100px] md:w-[100px] 
                    bg-contain bg-center bg-no-repeat
                    " 
                    style="
                    background-image: url( {{ '/assets/images/plant-security-svgrepo-com.svg' | htmlBaseUrl  }} )
                    "
                    >
                </div>
                <div>
                    <div class="primary-color text-xl font-semibold chi-font-small-spacing">進階安全性</div>
                    <div class="pt-2 chi-font-small-spacing leading-6">我們提供多種登入驗證方式保護您的業務，方便的同時亦確保只有授權的訪問。</div>
                </div>
            
            </div>
        </div>


    </div>

</section>

