<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0"/> {# font #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet"> {# stylesheet #}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.css"/> 
    <script src="https://cdn.jsdelivr.net/npm/simple-scrollbar@latest/simple-scrollbar.min.js"></script>

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | transformWithHtmlBase }}">
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | transformWithHtmlBase }}" >
    
    {# Meta #}
    
    <title>{{ site.name }}
      {% if title %}
        - {{ title }}
      {% endif %}
    </title>

    <meta
      name="description"
      content=" 
        {% if description %} 
          {{ description }} 
        {% else %} 
          {{ site.description }} 
        {% endif %} 
        "/>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BN21D5KSVM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BN21D5KSVM');
    </script>

  </head>
  
  <body 
    class="text-gray-700 text-md leading-10 text-color" 
    style="
      overflow-x: hidden; 
      font-family: Noto Sans TC, sans-serif; letter-spacing: 0.2rem; 
      width: 100vw;
      "
    >
    {% include "partials/_navigation.njk" %}
    
    <main class="w-screen">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    {% include "partials/_footer.njk" %}
  </body>
</html>