---
layout: base
title: 開發流程
tags: page
order: 2
---

<section 
    class="max-w-5xl mx-auto 
    grid grid-cols-1 place-items-start gap-12
    pt-6 md:pt-12
    px-6 md:px-0
    "
>

    <div class="grid grid-cols-1">
        <h2 class="text-xl font-bold primary-color eng-font" >Google Ads | Google Ads Management</h2>
        <div class="grid grid-cols-1 gap-2">
        <div class="text-3xl chi-font-small-spacing" >Meta(Facebook) Pixel / Google Tag 安裝服務</div>
        <div class="text-md chi-font-no-spacing">搵 Agency 幫手，好可能只是買clicks，又guarentee 唔到Sales... 想要知到廣告有無效， 你只要知道一項指標 ROAS ( return of ads spending) </div>
        <div class="text-md chi-font-no-spacing">簡單來講， 你每花一蚊， 番到多少數? 而要知道這項記錄，你網站一定要裝tracking code, 針對你的售價表現。</div>
    </div>

    <div class="
        grid grid-cols-1 md:grid-cols-1 gap-4 
        m-0 p-0 
        ">
        <div class="grid grid-cols-1 place-items-center md:pt-8">
            <div class="
                rounded-lg 
                h-[50vw] w-[66vw] 
                md:h-[300px] md:w-[400px] 
                shadow-xl 
                bg-[center_center] bg-cover bg-no-repeat
                " 
                style="
                background-image: url( {{ '/assets/images/william-hook-9e9PD9blAto-unsplash.png' | htmlBaseUrl  }} )
                "
                >
            </div>
        </div>

        <div class="grid grid-cols-1 gap-4 md:pt-8">
            <div class="grid grid-cols-1 gap-1">
                <div class="text-3xl text-bold chi-font-no-spacing text-center md:text-center">
                    落左廣告但唔知做得好唔好？
                </div>
            </div>

            <p class="text-md chi-font-small-spacing  leading-6">
                能監測網店銷售表現 <span class="eng-font">conversion</span> 轉化率及其他關鍵數據。附送一次性推廣 <span class="eng-font">campaign</span> 設定（不包括平面設計)。
            </p>

            <p class="text-md chi-font-small-spacing leading-6">
                如閣下現正是以下情況的話，我相信我能幫到你: 對網上推廣完全陌生，唔知點開始。
                想請<span class="eng-font">Agency</span>幫忙，但收費用昂貴，效果又唔穩定。
            </p>

            <p class="text-md chi-font-small-spacing leading-6">
                想自已做，無奈太多野做；未能抽身處理 <span class="eng-font">setting</span> 對 <span class="eng-font">digital marketing</span>
                一知半解，怕浪費彈藥、錯誤亂投
                想搵人先做基本設定，開左個頭；之後放便自已彈性處理
                做網上生意是十分需要數據來評估網站表現， 尤其是<span class="eng-font">conversion rate</span>，轉換率，
                ROAS(return on ad spend 每1蚊廣告返幾多錢)
                數據更是不可缺少，可惜坊間不少同行替客戶做廣告投放時， 多以No. of click ， CTR ， Page view 等作為 KPI (Key Performance Indicator) 關鍵績效指標。而以conversion ，
                ROAS 作表現考量則較少，不竟能影響客戶不買單的因素太多，所以較少以這為目標。
            </p>
            
            <p class="text-md chi-font-small-spacing leading-6">
                不論自己做網上推廣還是請agency 優化， Google analytics Facebook 等都要check 到訂單轉化率記錄，安裝tracking code 是你網店基本配置。
            </p>

            <p class="text-md chi-font-small-spacing leading-6">
                不管你在用Shopify、shopline、wordpress或其他open source 我都能為你安裝。 如閣下對網絡營銷有什麼問題，歡迎查詢。
            </p>
        </div>
    </div>

    <div class="p-[3rem]"></div>
</section>