<div class="flex gap-8 chi-font-small-spacing">
  <div class="hover:underline">
    <a href="{{ '/' | transformWithHtmlBase }}"><span class="font-extrabold text-color">首</span>頁</a>
  </div>

  <div class="hover:underline">
    <a href="{{ '/develop-flow' | transformWithHtmlBase }}"><span class="font-extrabold text-color">開</span>發流程</a>
  </div>

  <div class="hover:underline">
    <a href="{{ '/techstacks' | transformWithHtmlBase }}"><span class="font-extrabold text-color">技</span>術特色</a>
  </div>

  <div class="hover:underline">
    <a href="{{ '/uniapp' | transformWithHtmlBase }}"><span class="font-extrabold text-color">小</span>程序開發</a>
  </div>

  <div class="hover:underline">
    <a href="{{ '/google-tag' | transformWithHtmlBase }}"><span class="font-extrabold text-color">廣</span>告投放</a>
  </div>

  <div class="hover:underline">
    <a href="{{ '/contact-us' | transformWithHtmlBase }}"><span class="font-extrabold text-color">聯</span>絡我們</a>
  </div>

  <div class="hover:underline">
    <a href="{{ '/blog' | transformWithHtmlBase }}"><span class="font-extrabold text-color">開</span>發日誌</a>
  </div>
</div>
