<header class="
    z-50
    text-black-50
    py-0 md:py-4
    sticky
    inset-0
    min-h-8
    w-full
    rounded-md
    bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-30
    bg-white
    "
    >
    <nav class="text-lg grid grid-cols-1 gap-4 place-items-center" >
        <div class="hidden md:inline">
          {% include "./_navigation_xl.njk" %}
        </div>

        {# mobile menu #}
        <div class="block md:hidden" style="height: 0;" >
          {% include "./_navigation_xs.njk" %}
        </div>


    </nav>

</header>
