<header class="
    z-50
    text-black-50 py-4 
    sticky 
    inset-0
    min-h-8
    w-full 
    rounded-md 
    bg-clip-padding backdrop-filter backdrop-blur-3xl bg-opacity-50 
    "
    >
    <nav class=" text-lg grid grid-cols-1 gap-4 place-items-center " >
        <div class="flex">        
            {% for item in collections.page %}
                <div class="pl-16" style="letter-spacing: 0.1rem;">
                    <a href="{{ item.url }}"
                        {% if item.url == page.url %}
                            aria-current='page' data-state='active'
                        {% endif %}
                        class="hover:underline"
                    >
                        {{ item.data.title }}
                    </a>
                </div>
            {% endfor %}

        </div>

    </nav>

</header>